# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.cursorrules
test-results
# Node dependencies
node_modules
playwright-report
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
