/* Default colours */
:root {
    --background-color: #ffffff;
    --text-color: #2d2d2d;
    --primary-color: #0fa4af;
    --secondary-color: #afdde5;
    --hover-color: #ffffff;
    --error-color: #ff5252;
    --error-background: #fff5f5;
    --success-color: #00796b;
    --success-background: #f0fff4;
    --animation-duration: 0.3s;
    --animation-state: running;
}

/* Dark mode colours  */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #82b1ff;
    --secondary-color: #1e3a5f;
    --hover-color: #0fa4af;
    --error-color: #ff867c;
    --error-background: #3b0000;
    --success-color: #80cbc4;
    --success-background: #002b24;
}

[data-reduced-motion="true"] {
    --animation-duration: 0s;
    --animation-state: paused;
}

/* Global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

/* Link default style */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--hover-color);
    background-color: var(--primary-color);
}

/* Error message */
.error {
    color: var(--error-color);
    background-color: var(--error-background);
    padding: 10px;
    border-radius: 4px;
}

/* Success message */
.success {
    color: var(--success-color);
    background-color: var(--success-background);
    padding: 10px;
    border-radius: 4px;
}
